/* Css file for class exercise */
span,
dt {
	font-weight: bold;
}
.ol {
	/*font-weight: bold;*/
	font-style: italic;
}
#img_left {
	float: right;
	width: 70%;
}
/*image margin-bottom */
img {
	margin-bottom: 20px;
}

/*background color for page */
body {
	background-color: cyan;
}

/* - no default underline for the links 
	  - increase font size to 18px
	*/

nav > a {
	text-decoration: none;
	font-size: 18pt;
}

/* styling for navigation bar */
nav {
	background-color: lightblue;
	overflow: hidden;
}

.dropdown-links {
	list-style-type: none;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}
